<div class="w-[550px] lg:ml-[15%] h-[300px] flex justify-center items-center  ">
<div class="   font-prodsan  p-3 border-1 border-gray mt-[5.1%] " *ngIf="myprofile">
<h2 class="text-black text-[24px] underline">Edit your profile :</h2>
<mat-dialog-content class="text-black space-y-4 ">

        <div class="space-x-3">
            <label class="text-black">Name : </label>
            <mat-form-field >
     
     
             <input value="{{myprofile.name}}" class="border-1 text-black" matInput #newNameInput  (input)="onNameInputChange(newNameInput.value)" value={{myprofile.name}} >
     
            </mat-form-field>
        </div>
      


     
</mat-dialog-content>

    <mat-dialog-actions class="space-x-[45%] ml-[6%]" >
        <button mat-button (click)="onCancelClick()" class="hover:text-white hover:bg-button-hover px-3 border-base border-2 rounded-md">Cancel</button>
        <button mat-button (click)="onOkClick()" class="hover:text-white hover:bg-button-hover px-3 border-base border-2 rounded-md">OK</button>
    </mat-dialog-actions>


</div>
</div>
