<app-nav-bar></app-nav-bar>
<div class="p-6">
    <div class="flex justify-between">
        <div class=" text-[32px] font-extrabold">Location</div>
           <button class="bg-base hover:bg-button-hover text-[18px] px-4 text-white rounded-md" (click)="openDialog()">
               Add new location
           </button>
        </div>
        <table class="w-full text-sm text-left text-baseBG dark:text-baseBG">
            <thead class="items-center xsm:text-[13px] sm:text-[12px] md:text-[14px] lg:text-[16px] text-base uppercase dark:text-base">
                <tr>
                    <th scope="col" class="px-6 py-3   "> No</th>
                    <th scope="col" class="px-6 py-3  ">Location</th>
                    <th scope="col" class="px-6 py-3  "> Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let mylocation of my_locations;let i =index" >
                <tr class="border-b  border-divider ">
                    <td class="px-6 py-4 justify-center">{{i+1}}</td>
                    <td class="px-6 py-4 ">{{mylocation.location_name}}</td>
                    <td class="px-6 py-4 space-x-3 w-[15%]">
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                    <!-- <td class="px-6 py-4 ">{{mybooking.date}}</td>
                    <td class="px-6 py-4">{{mybooking.departure}}</td>
                    <td class="px-6 py-4 ">{{mybooking.arrival}}</td>
                    <td class="px-6 py-4 ">{{mybooking.status}}</td> -->
                </tr>
    
            </tbody>
        </table>
</div>

