<app-nav-bar></app-nav-bar>
<div class="p-6">
    <button (click)="toMain()">Back</button>
    <div class="flex justify-between">
        <div class=" text-[32px] font-extrabold">Location</div>
           <button class="bg-base hover:bg-button-hover text-[18px] px-4 text-white rounded-md" (click)="openDialog()">
               Add new location
           </button>
        </div>
        <table class="w-full text-sm text-left text-baseBG dark:text-baseBG">
            <thead class="items-center xsm:text-[13px] sm:text-[12px] md:text-[14px] lg:text-[16px] text-base uppercase dark:text-base">
                <tr>
                    <th scope="col" class="px-6 py-3   "> No</th>
                    <th scope="col" class="px-6 py-3  ">Location</th>
                    <th scope="col" class="px-6 py-3  "> Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let mylocation of my_locations;let i =index" >
                <tr class="border-b  border-divider ">
                    <td class="px-6 py-4 justify-center">{{i+1}}</td>
                    <td class="px-6 py-4 ">{{mylocation.location_name}}</td>
                    <td class="px-6 py-4 space-x-3 w-[15%] ">
                        <div class="flex space-x-3">
                        <div (click)="openEditLocation(mylocation._id,mylocation.location_name)"><svg class="hover:fill-blueA-hover fill-blue"  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg></div>
                        <div (click)="onDelete(mylocation._id)"><svg class="hover:fill-red-hover" fill="red" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></div>
                        </div>
                    </td>
                    <!-- <td class="px-6 py-4 ">{{mybooking.date}}</td>
                    <td class="px-6 py-4">{{mybooking.departure}}</td>
                    <td class="px-6 py-4 ">{{mybooking.arrival}}</td>
                    <td class="px-6 py-4 ">{{mybooking.status}}</td> -->
                </tr>
    
            </tbody>
        </table>
</div>

